@import "../../common.scss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.hero_banner {
  position: relative;
  height: 100vh;
  .hero_bg {
    width: 100%;
    max-width: fit-content;
    height: 100%;
    max-height: 80vh;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.063em;
    margin: auto 0;
  }
  .hero_container,
  .form_row {
    height: 100%;
  }
  .form_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form_box {
    padding: 2.5em 2.813em 3.125em;
    background: $color-194340;
    color: $color-ffffff;
    border-radius: 8px;
    .form_fileds_wrapper {
      .title {
        @include textStyles(2.313em, 1.568em, -1.17px);
        font-weight: 600;
      }
    }
  }
}

.home_sec1 {
  padding: 10.688em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .text_container {
    text-align: center;
    padding: 5em 0 10em;
    .heading {
      @include textStyles(3.5em, normal, 0);
      font-weight: bolder;
    }
    .description {
      @include textStyles(2em, normal, 0);
      max-width: 55%;
      margin: 1em auto 0;
    }
  }
  .img_wrapper {
    width: 100%;
    max-width: 60em;
    margin: 0 auto;
    .hero_img {
      width: 100%;
      max-width: 60em;
      margin: 0 auto;
    }
  }
}

@media (max-width: 600px) {
  .home_sec1 {
    padding: 10em 0 10em;
    .text_container {
      padding: 5em 0;
      .heading {
        font-size: 2.5em;
        text-align: left;
      }
      .description {
        font-size: 1.4em;
        max-width: 100%;
        text-align: left;
      }
    }
  }
}

.title_hs {
  font-size: 3.5em;
}

.title_hs_1 {
  font-size: 1.25em;
  max-width: 28.75em;
}

.title_hs_2 {
  font-size: 2em;
}

.display {
  display: flex;
  padding-bottom: 10em;
  padding-left: 0;
  .displayCol {
    max-width: 10em;
    max-height: 2.625em;
    justify-content: space-evenly;
  }
}

.bg {
  background-color: aqua;
}

.title_span {
  text-decoration: underline;
  text-decoration: color(srgb black);
}

.ss {
  width: 100%;
  padding: 5.3em 23em 10.6em;
  // max-width: 90em;
  // height: 13.95em;
  // padding: 16.875em;
  .ssimg {
    width: 100%;
    height: auto;
    // max-width: 31.45em;
    // height: 4em;
    display: flex;
    justify-content: space-evenly;
    // padding:3.32em 14.25em 6.625em;
    .sizeimg {
      justify-content: space-evenly;
      width: 3.125em;
      height: 3.125em;
    }
  }
}

@media (max-width: 900px) {
  .ss {
    padding: 4.6em 0em 5.3em;
  }
}

// @media (max-width: 90em) {
//   .ss {
//     // padding: 16.875em;
//   }
// }

// @media (max-width: 31.45em) {
//   .ssimg {
//     margin: 0;
//     // padding:3.32em 14.25em 6.625em;
//   }
// }

.tickicon {
  width: 2em;
  height: 2em;
  object-fit: contain;
  padding-right: 0.5em;
}

.flex {
  display: flex;
}

.avatarimg {
  width: 4em;
  height: 4em;
  padding-right: 1em;
  object-fit: contain;
}

.avatarimg1 {
  // width: 5em;
  height: 5em;
  object-fit: contain;
  padding-right: 2.5em;
}

.HeroTestimonial {
  background-color: #f1f4f8;
  max-width: 26.3em;
  // padding-top: 10em;
  height: auto;
}

// @media (max-width: 18.19em) {
//   .HeroTestimonial{

//   }
// }

.p {
  font-weight: 500;
}

.pros_sec {
  padding-top: 4em;
  .pros_h {
    text-align: center;
    width: 100%;
    font-size: 2.25em;
    font-weight: 700;
    padding-left: 10.5em;
    padding-right: 10.5em;
  }
  .pros_h6 {
    font-size: 1.8em;
  }
  .pros_items_row1_p {
    padding-top: 1.2em;
    font-size: 1.5em;
  }
  .pros_items {
    padding: 5.625em 7.8125em;
  }
  .pros_p {
    font-size: 1.5em;
    padding: 4em 18.25em 10em;
    text-align: center;
  }
}

.pros_items_row1_div {
  display: flex;
  padding-right: 4em;
}

// @media screen {
//   .pros_p {
//     padding: 0em;
//   }
// }
@media (max-width: 800px) {
  .pros_sec {
    .pros_items_row1 {
      display: flex;
      flex-direction: column;
    }
    .pros_items_row2 {
      display: flex;
      flex-direction: column;
    }
    .pros_items_row1_div {
      padding-right: 2em;
      padding-top: 2em;
      .avatarimg1 {
        padding-right: 1em;
      }
    }
    .pros_p {
      padding: 1.5em;
    }
    .pros_h {
      padding: 1em;
    }
    .pros_items {
      padding: 2em 1em;
    }
  }
}

.pros_items_row1 {
  display: flex;
}

.pros_items_row2 {
  display: flex;
}

// @media (max-width: 53.625em) {
//   .pros_p {
//     font-weight: 400;
//   }
// }

.testimonials {
  background-color: #f4f4ff;
  padding: 0%;
  margin: 0%;
  .testimonials_h {
    font-size: 3.6em;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding-top: 1.7em;
  }
  .testimonials_div {
    padding: 2.7em 7.375em 15.3125em;
    .testimonials_div_boxes {
      display: flex;
      justify-content: space-evenly;

      .testimonials_div_box {
        background-color: #ffffff;
        // padding-right: 2em;
        // max-width: 37.7em;
        // gap: 1em;
        margin-right: 2em;
        padding: 1em;
      }
    }
  }
}

.testimonials_div_box_h {
  font-size: 1.4em;
  font-weight: 700;
  padding-bottom: 1em;
}

@media (max-width: 600px) {
  .testimonials {
    .testimonials_div_boxes {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .testimonials_div_box {
      padding-right: 2em;
      padding-bottom: 1em;
      max-width: 100%;
      margin-bottom: 2em;
    }
    .testimonials_div {
      padding: 2.7em 3em 5em;
    }
  }
}

.testimonials_div_box_star {
  font-weight: 900;
}

.testimonials_div_box_p {
  padding-bottom: 2em;
  font-size: 1.6em;
}

.FooterWave_img {
  width: 100%;
  object-fit: contain;
}

// .footer{
//   background-color: #194340;
// }

.footerdiv_top {
  background-color: #194340;
  color: #ffffff;
}

.footerdiv {
  padding: 1.5625em 16.875em 10.6875em 7.5em;
  display: flex;
}

.footerdiv_p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  opacity: 60%;
}

.footerdiv_span {
  text-decoration: underline;
}

.footerdiv1 {
  padding-left: 7.5em;
}

.footerdiv1_1 {
  display: flex;
  padding-top: 5.8125em;
}

.logo {
  width: 100%;
  // margin-left: 1.5em;
  // max-width: 16.2em;
  width: 16.2em;
  object-fit: contain;
}

.footerdiv1_1_img {
  padding-right: 1em;
}

.footerdiv2 {
  padding-left: 9.125em;
}

.footerdiv2_2 {
  padding-top: 2em;
}

.footerdiv2_2_p {
  opacity: 60%;
  padding-bottom: 1.25em;
  font-size: 1.4em;
}

.footerdiv3 {
  padding-left: 5.28125em;
}

.footerdiv3_p {
  font-size: 14px;
  opacity: 60%;
  padding-top: 2em;
  max-width: 16em;
}

.footerdiv3_div {
  display: flex;
  padding-top: 1.25em;
}

.footerdiv3_div_img {
  padding-right: 1.4375em;
}

.footerdiv4 {
  padding-left: 5.3125em;
}

.footerdiv4_1 {
  padding-top: 2em;
}

.footerdiv4_1_p {
  opacity: 60%;
  padding-bottom: 1.25em;
  font-size: 14px;
}

@media (max-width: 800px) {
  .footer {
    .FooterWave_div {
      .FooterWave_img {
        object-fit: contain;
      }
    }
    .footerdiv_top {
      .footerdiv {
        // padding: 1.5625em 10.875em 10.6875em 0em;
        .footerdiv1 {
          // padding-left: 2em;
        }
        .footerdiv2 {
          // padding-left: 3em;
        }
        .footerdiv3 {
          // padding-left: 3em;
        }
        .footerdiv4 {
          // padding-left: 3em;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .footer {
    .FooterWave_div {
      .FooterWave_img {
        object-fit: contain;
      }
    }
    .footerdiv_top {
      .footerdiv {
        padding: 0em;
        // padding: 1.5625em 16.875em 10.6875em 7.5em;
        // justify-content: center;
        display: flex;
        flex-direction: column;
        .footerdiv1 {
          padding-left: 1.5em;
          align-items: center;
          .logo {
            // width: 50em;
          }
          .footerdiv1_1 {
            // justify-content: space-between;
            width: auto;
            .footerdiv1_1_img {
              // height: 4em;
            }
          }
        }
        .footerdiv2 {
          padding-top: 3em;
          .footerdiv2_h6 {
            font-size: 3em;
          }
          .footerdiv2_2_p {
            font-size: 3em;
          }
        }
        .footerdiv3 {
          // font-size: 3em;
          .footerdiv3_h6 {
            font-size: 3em;
            padding-top: 1em;
          }
          .footerdiv3_p {
            font-size: 3em;
            padding-top: 1em;
          }
        }
        .footerdiv4{
          .footerdiv4_h6{
            font-size: 3em;
            padding-top: 3em;
          }
          .footerdiv4_1_p{
            font-size: 3em;
          }
        }
      }
      .footerdiv_p{
        font-size: 3em;
      }
    }
  }
}

.guarantee {
  width: 100%;
}

.guarantee_div {
  display: flex;
}

.guarantee_div_col {
  padding: 9.8125em 0em 12em 13.9375em;
  // max-width: 31.875em;
}

.guarantee_div_col_h1 {
  font-size: 3.6em;
  font-weight: 700;
}

.guarantee_div_col_p {
  font-size: 1.5625em;
  font-weight: 400;
  line-height: 3.1em;
  padding-top: 1em;
  max-width: 29.7em;
}

.guarantee_div_col_div {
  display: flex;
  padding-top: 2em;
}

.guarantee_div_col_div_1 {
  display: flex;
  padding-right: 1.25em;
  max-width: 18em;
}

// .guarantee_div_col_div {
//   display: flex;
//   padding-top: 1.5625em;
// }

.guarantee_div_col_div_h2 {
  // padding-top: 2.5625em;
  padding-right: 1em;
  font-weight: 700;
}

.guarantee_div_col_div_1_p {
  font-size: 1.6em;
  font-weight: 500;
  padding-left: 0.625em;
  // max-width: 4.0625em;
}

.guarantee_div_images {
  position: relative;
  padding: 11.3125em 13.125em 13.5em 6.375em;
}

.guarantee_div_img {
  position: absolute;
  width: 24.6875em;
}

.guarantee_div_img_inside {
  position: relative;
  width: 12.8125em;
  top: 30px;
  left: 30px;
}

@media (max-width: 600px) {
  .guarantee .guarantee_div {
    .guarantee_div_col {
      padding: 7em 0em 7em 3.5em;
    }
    .guarantee_div_images {
      display: none;
    }
  }
}

.faq_h1 {
  font-size: 3.6em;
  font-weight: 700;
  padding-top: 2em;
  // padding-bottom: 2.5em;
  text-align: center;
}

.faq_div {
  padding: 2.5em 7.5em 8.5em;
  display: flex;
}

.faq_div_1_h2 {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 2.5em;
  padding-bottom: 0.84em;
}

.faq_div_1_p {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.875em;
  max-width: 20.125em;
  padding-bottom: 2.5em;
}

// .faq_div_1_div{
//   background-color: #A4EACA;
//   padding-top: 2.5em;
//   padding: 1em 2.5em 1em;
//   border: hidden;
//   border-radius: 0.375em;
// }

.faq_div_1_div_button {
  text-decoration: color(srgb #194340);
  background-color: #a4eaca;
  padding: 1em 2.5em 1em;
  font-size: 2em;
  font-weight: 700;
  border-radius: 0.375em;
  border: hidden;
}

.guarantee_div_col_div_div {
  display: flex;
  background-color: #a4eaca;
  width: 13.3125em;
  align-items: center;
  justify-content: space-evenly;
  // padding-left: 1.75em;
  // justify-content: s;
}

.guarantee_div_col_div_div_button {
  background-color: #a4eaca;
  font-size: 1em;
  font-weight: 700;
  border: hidden;
}

.buttonicon {
  width: 1.5em;
}

.sps {
  background-color: #f4f4ff;
  width: 100%;
  overflow-x: hidden;
}

.sps_h1 {
  // padding: 1.75em 20.8125em 1.5em;
  padding-top: 1.5em;
  // padding-bottom: 1.5em;
  text-align: center;
}

@media (max-width: 600px) {
  .sps {
    padding: 0;
    overflow-x: hidden;
    .sps_scr {
      padding: auto;
      padding: 2.5em 2em 2.5em;
    }
    .sps_group{
      padding: 0em 2em 5em;
    }
  }
}

.sps_scr {
  padding: 2.5em 15.9375em 2.5em;
}

// .sps_scr_top_boxes{
//   display: flex;
// }

.sps_scr_boxes {
  display: flex;
  padding-bottom: 4em;
}

.sps_scr_box {
  // padding-right: 2.5em;
  background-color: #ffffff;
  width: 27.6875em;
  // padding-right: 2.5em;
  justify-content: center;
  // align-items: center;
  border: #e5eaf4;
  border-radius: 1em;
  margin-right: 4em;
}

.sps_scr_box_h3 {
  color: #2f6959;
  font-size: 2.4em;
  font-weight: 700;
  padding: 1.4584em 1.4584em 0.833em;
}

.sps_scr_box_h3_1 {
  color: #2f6959;
  font-size: 3em;
  font-weight: 700;
  padding: 0em 1.17em 0.67em;
}

.sps_scr_box_div {
  padding: 0em 2em 1.25em;
}

.sps_scr_box_div_ul_li {
  font-size: 1.5em;
  list-style-type: circle;
  padding-bottom: 0.5em;
  // padding: 0em 2em 1.25em;
}

.sps_scr_box_div_1 {
  display: flex;
  background-color: #2f6959;
  width: 13.3125em;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 0em 2em 2em;
  // padding-left: 1.75em;
}

.sps_scr_box_div_1_button {
  background-color: #2f6959;
  color: #f2fcf7;
  font-size: 1em;
  font-weight: 700;
  border: hidden;
  align-items: center;
  // justify-items: center;
  // justify-self:center;
  justify-content: space-between;
}

.sps_group {
  display: flex;
  // max-width: 70em;
  padding: 0em 15.9em 14.1em;
}

.sps_group_box {
  background-color: #ffffff;
  border: #e5eaf4;
  border-radius: 1em;
  // max-width: 30.1em;
  margin-right: 4em;
  // padding: 0em 2.5em 0em 0em;
}

.sps_group_box_h4 {
  color: #2f6959;
  font-size: 2.2em;
  font-weight: 700;
  padding-top: 2em;
  padding-left: 1.5em;
}

.sps_group_box_p {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 2em;
  padding: 0.5em 2em 3.75em;
}

.sps_group_box_div {
  width: 100%;
}

.sps_group_box_div_div {
  display: flex;
  padding-left: 2em;
  padding-bottom: 1.25em;
  justify-content: space-evenly;
}

.sps_group_box_div_div_p {
  font-size: 1.6em;
  font-weight: 500;
  color: #183b56;
  line-height: 1.25em;
}

@media (max-width: 600px) {
  .sps {
    .sps_group{
      flex-direction: column;
      .sps_group_box{
        width: 100%;
        margin-bottom: 2em;
      }
    }
    .sps_scr_boxes {
      display: flex;
      flex-direction: column;
      padding-bottom: 0em;
      .sps_scr_box {
        padding-bottom: 0.5em;
        margin-bottom: 2em;
        margin-right: 1em;
      }
    }
  }
}
